- title = "❤ ProTip"
!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "microtip", content: "#{FC.address_main}" }
    %title #{title} Faucet
    -#%link{ rel: "stylesheet", src: "style.css" }

    = assets :css

  %body
    .container
      %h1
        %a{ href: "https://protip.is" } #{title} Faucet
      %section.content
        = yield
