%h2 Status

%p Faucet balance: #{FC.balance} BTC

%ul
  - FC.addresses.each do |addr|
    %li
      %pre
        btc: #{addr[:btc]},
      %span email: #{addr[:email]}

%h4 Debug:
%p core address: #{FC.wallet.main_address}
%p balance at zero confirmations: #{FC.wallet.balance_zeroconf} BTC
